<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dissonance, lost art</title>
    <link rel="stylesheet" href="./noStylist/reset.css">
    <link rel="stylesheet" href="./noStylist/main.css">
    <link rel="stylesheet" href="./noStylist/hpHandlebars.css">
</head>
<body>
    <header>        
        <h4>
            <span role="img" aria-label="gravenImage">🌎</span>
            <a href='/'>daVjncjDissonance: theTechBlog</a>
        </h4>
        <nav>
            {{#if logged_in}}<!--renders profile root||login page based on whether is existing user||new to site | -->            
            <a href="/profile" id='?'>
                profile
            </a> | <button class="cognitiveDissonance" id="logout">logout</button>           
            {{else}}
            <a href="/login">login</a>
            {{/if}}
        </nav>
    </header>      
    <main>
        {{{body}}}
    </main>
    <footer>
        all IP protected with: Savvy Logic
    </footer>
    {{#if logged_in}}
    <script src="/waitress.js">
    {{/if}}
    </script>
</body>
</html>