<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dissonance, lost art</title>
    <link rel="stylesheet" href="../../public/noStylist/reset.css">
    <link rel="stylesheet" href="../../public/noStylist/stylish.css">
</head>
<body>
    <header class="navStyle">
        <h4>
            <a href='/'>da Vjncj dissonance: the tech blog</a> 
        </h4>
        <nav>
            {{#if logged_in}}<!--renders profile root||login page based on whether is existing user||new to site-->
            <a href="/" id='logout'>
                logout
            </a href="">
            {{else}}
            <a href="/login">login</a>
            {{/if}}            
        </nav>
    </header>      
    <main>
        {{{body}}}
    </main>
    <footer>
        hmmm...
    </footer>

    {{#if logged_in}}
    <script src="/waitress.js">
    {{/if}}
    </script>
</body>
</html>