<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dissonance, lost art</title>
    <link rel="stylesheet" href="./noStylist/reset.css">
    <link rel="stylesheet" href="./noStylist/stylish.css">
    <link rel="stylesheet" href="./noStylist/hpHandlebars.css">
</head>
<body>
    <header>        
        <nav class="navStyle">
            <h4 >
                <a href='/'>daVjncjDissonance: theTechBlog</a>
            </h4>
            {{#if logged_in}}<!--renders profile root||login page based on whether is existing user||new to site-->
            <a href="/" id='logout'>
                logout
            </a>
            <a href="/dashboard" id='dashboard'>
                dashboard
            </a>
            {{else}}
            <a href="/login">login</a>
            {{/if}}
        </nav>
    </header>      
    <main>
        {{{body}}}
    </main>
    <footer>
        designed with daVjncjC0d3
    </footer>
    {{#if logged_in}}
    <script src="/waitress.js">
    {{/if}}
    </script>
</body>
</html>