{{#each blogs as |blog|}}
<div>
    <div>
        <h2>
            {{{pocketWatch}}}
            <a href="/blogs/{{blog.id}}">{{blog.title}}</a>
        </h2>
        <p>
            <span></span>
        </p>
    </div>
</div>
{{/each}}