<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dissonance, lost art</title>
    <link rel="stylesheet" href='./noStylist/reset.css'>
</head>
<body>
    <header>
        <h1>
            da Vjncj dissonance: the tech blog
        </h1>
    </header>
</body>
</html>